<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>TXID</th>
            <th>User ID</th>
            <th>Nome</th>
            <th>Plano</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for venda in vendas %}
        <tr>
            <td>{{ venda[0] }}</td>
            <td>{{ venda[1] }}</td>
            <td>{{ venda[2] }}</td>
            <td>{{ venda[3] }}</td>
            <td>{{ venda[4] }}</td>
            <td>R$ {{ '%.2f'|format(venda[5]) }}</td>
            <td>{{ venda[6] }}</td>
            <td>{{ venda[7].strftime('%d/%m/%Y %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
